.container {
  max-width: 1200px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
}

.botao {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(180deg, #ffbf00 0%, #f2a50c 100%);
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #332200;
  font-size: 18px;
  line-height: 1.33;
  font-family: "Poppins";
  font-weight: 600;
}

.link {
  display: inline-block;
  color: var(--cor-p1);
  font: 500 1.5rem/1.5 "Poppins", sans-serif;
  text-transform: uppercase;
}
.link:after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background-color: currentColor;
}
.link:hover {
  color: var(--cor-0);
}

.botao:hover {
  background: linear-gradient(180deg, #ffb60d 0%, #e58317 100%);
}

@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 16px;
  }
}
