.botao {
  display: inline-block;
  padding: 16px 32px;
  background: linear-gradient(180deg, #ffbf00 0%, #f2a50c 100%);
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.1);
  text-transform: uppercase;
  color: #332200;
  font-size: 18px;
  line-height: 1.33;
  font-family: "Poppins";
  font-weight: 600;
}

.botao:hover {
  background: linear-gradient(180deg, #ffb60d 0%, #e58317 100%);
}

@media (max-width: 600px) {
  .botao {
    padding: 12px 16px;
    font-size: 16px;
  }
}
