.introducao-bg {
  background: var(--cor-12);
  box-shadow: inset 0 -120px #ffffff;
}

.introducao {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0px 40px;
}

.introducao-conteudo {
  align-self: end;
  padding-bottom: 200px;
}

.introducao h1 {
  margin-bottom: 32px;
}

.introducao span {
  color: var(--cor-p1);
}

.introducao p {
  margin-bottom: 20px;
}

.introducao img {
  object-fit: cover;
  height: 100%;
  border-radius: 4px;
  width: 100%;
}

@media (max-width: 800px) {
  .introducao-bg {
    background: #111111;
    padding-top: 40px;
    box-shadow: inset 0 -60px #ffffff;
  }
  .introducao {
    grid-template-columns: 1fr;
    gap: 32px;
  }
  .introducao h1 {
    margin-bottom: 16px;
  }
  .introducao-conteudo {
    padding-bottom: 0px;
  }
  .introducao img {
    height: 300px;
    width: 100%;
  }
}
